/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    --main-bg-color-lt: #fff;
    --sidebr-bg-color-lt: #7387d5;
    --sidebr-header-bg-color-lt:#2a2a31;
    --font-inf-cl-lt: grey;
    --font-pgNames-color-lt: #2a2a31;
    --sidebr-comp-br-color-lt: #47748b;
    background: var(--main-bg-color-lt);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: var(--main-bg-color-lt);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2a2a31;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--side-header-bg-color);
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid var(--sidebr-comp-br-color-lt);
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--sidebr-bg-color-lt);
    background: var(--font-pgNames-color-lt);
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,a[aria-expanded="true"] {
    background:  #2a2a31;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--sidebr-header-bg-color-lt);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: var(--sidebr-bg-color-lt);
}

a.article,
a.article:hover {
    background: var(--sidebr-header-bg-color-lt) !important;
    color: var(--main-bg-color) !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/* ---------------------------------------------------
    Profile style
----------------------------------------------------- */
.accounts{
    margin-left: 40px;
    margin-right: 40px;
    border-top: 2px solid var(--font-inf-cl-lt);
    padding-top: 40px;
}
.accounts .email{
    margin-left: 0;
}
.accounts .account{
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    width: 90%;
    height: 80%;
    border: 2px solid var(--font-inf-cl-lt);
    border-radius: 100px;
    padding: 0;
}
.accounts .account .icon_img{
     display: inline-block;
     vertical-align: middle;
     border-radius: 100px; 
     height: 60px;
     padding: 0;
     margin: 0 0px 0 0;
     width: 30%;
}
.accounts .account .icon_text{
     text-align: right;
     padding: 0;
     margin-left: 0;
     font-size: 100%;
     display: inline-block;
     height: 60px;
     width: 50%;
}
.accounts .email a{
    display: inline-block;
      text-shadow: 1px 1px #fff;
      text-decoration: none;
      padding: .3em 1em;
      border: 1px solid var(--font-inf-cl-lt);
      border-radius: 100px;
      outline: none;
    background: white no-repeat;
    background-image: url("https://i.ytimg.com/vi/BMdfX3LnHK0/hqdefault.jpg"); 
    background-position: calc(100% - 2.7em) 0, calc(100% - 2.7em + 1px) 0, 0 0;
    background-size: 50px 100%, 100px 100%, auto auto;
    overflow: hidden;
}
.profile{
    margin: 0;
}
.main{
    margin-bottom: 20px;
}
form{
    margin-top: auto;
    margin-bottom: auto;
}
.your_subscribes{
    font-size: 22px;
    margin-left: 40px;
    margin-bottom: 10px;
    color: #fafafa;
}
.pages_section{
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 2px solid var(--font-inf-cl-lt);
    padding-bottom: 40px;
}
.pages_section a{
    font-size: 25px;
    margin-right: 60px;
    margin-bottom: 40px; 
}
.pages_section a:hover{
    font-size: 25px;
    margin-right: 60px;
    margin-bottom: 40px;
    color: red;
    border-bottom: 0px solid var(--sidebr-bg-color-lt);
}
.information_section{
    margin-top: 40px;
    padding: 40px 0 40px 0; 
}
.information_section .buttons{
    margin-top: 40px;
}
.information_section .center{
    margin-left: 0;
}
.information_section .photo{
    color: black;
    margin: 0 20px 0 40px;
    padding: 0;
    border-radius: 10%;
}
.information_section .information .contaner{
    padding: 0;
}
.information_section .information{
    margin-left: 20px;
}
.information_section .image{
    position: relative;
    overflow: hidden; 
    margin-left: 10px;
    border-radius: 20%;
}
.information_section .photo img{
    width: 100%;
    position: relative;
}
.information_section .photo a{
    font-size: 14px;
    background: var(--font-inf-cl-lt);
    color: white;
    padding: 10px 20px;
    text-align: center;
    top: 190px;
    left: 0;    
    width: 100%;
    position: absolute;
    opacity: 85%;
}
.information_section .photo a:hover{
    font-size: 14px;
    background: black;
    color: var(--main-bg-color-lt);
    padding: 10px 20px;
    text-align: center;
    top: 190px;
    left: 0;    
    width: 100%;
    position: absolute;
    opacity: 55%;
}
.information_section ul{
    margin-right: 20%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none; 
}
.information_section input{
    background: var(--main-bg-color-lt);
    border: 0;
    color: grey;
    border-bottom: 2px dashed var(--font-inf-cl-lt);
    padding-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.information_section input:hover{
    background: var(--main-bg-color-lt);
    border: 0;
    border-bottom: 2px solid var(--font-inf-cl-lt);
    width: 100%;
}
.buttons{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.buttons .button_save{
    text-align: center;
    width: 100px;
    border-radius: 70px; 
    border: 3px solid var(--sidebr-bg-color-lt);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px;
    margin-left: 0;

}
.buttons .button_save:hover{
    text-align: center;
    width: 100px;
    border-radius: 70px; 
    border: 3px solid var(--sidebr-bg-color-lt);
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--sidebr-header-bg-color-lt);
    color: white;
    padding: 7px;
    margin-left: 0;
}
.buttons .button_cancel{
    text-align: center;
    width: 150px;
    border-radius: 70px; 
    border: 3px solid var(--sidebr-bg-color-lt);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: auto;
    padding: 7px;
}
.buttons .button_cancel:hover{
    text-align: center;
    width: 150px;
    border-radius: 70px; 
    border: 3px solid var(--sidebr-bg-color-lt);
    margin-top: 20px;
    background: var(--sidebr-header-bg-color-lt);
    color: white;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: auto;
    padding: 7px;
}
.your_subscribes{
    width: 100%;
}